<h1>All the users</h1>
<%= link_to 'Add New User', new_user_path , class: 'new_student' %>  | <%= link_to 'Micro Posts', microposts_path , class: 'new_student' %> 
<table id="user">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name%></td>
                <td><%= user.email%></td>
                <td><%= link_to 'View', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= button_to 'Delete', user, method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>