<% provide(:title, 'New User') %>
<h1> New User </h1>
<div class="container1">
    <%= form_with(model: @user) do |form| %>
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |message| %>
                <p><%= message%></p>
            <% end %>
        <% end %>
        <div>
            <%= form.label :name%><br>
            <%= form.text_field :name%>
        </div>
        <div>
            <%= form.label :email%><br>
            <%= form.email_field :email%>
        </div>
        <div>
            <%= form.label :password%><br>
            <%= form.password_field :password%>
        </div>
        <div>
            <%= form.label :password_confirmation%><br>
            <%= form.password_field :password_confirmation%>
        </div>
        <div>
            <%= form.submit%>
        </div>
    <% end %>
</div>
