<% provide(:title, "#{@user.name}") %>
<h1>Student Details</h1>
    <div class="userBtnGroup">
        <%= button_to 'Back', users_path , method: :get, class: 'btn btn-sm btn-secondary' %> 
        <%= button_to 'Edit', edit_user_path(@user) , method: :get ,class: 'btn btn-sm btn-secondary' %>
    </div>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for(@user) %>  
                <%= @user.name %>
            </h1>
        </section>
        <section class="stats">
            <%=render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.posts.any? %>
            <h3>posts (<%= @user.posts.count %>)</h3>
            <ol class="microposts">
                <%= render @posts %>
            </ol>
            <div class="custom_pagination">
                <%= will_paginate @posts %>
            </div>
        <% end %>
    </div>
</div>
