<%= form_with(model: @post, local:true) do |f| %>
<%= render 'shared/error_messages', object: @post %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Compose new post" %>
    </div>
    <%= f.submit "Post", disable_with: 'Posting...', class: 'btn btn-primary' %>
    <span class="image">
        <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
    </span>
<% end %>

<%# <script>
    $('#post_image').bind("change", function(){
        console.log('working')
    })
</script> %>